<h1>Signup</h1>

<%= form_for :user do |f| %>
  <%= f.text_field :email, placeholder: "Enter your email" %>
  <%= f.text_field :name, placeholder: "Enter your username" %>
  <%= f.password_field :password, placeholder: "Enter your password"%>
  <%= f.submit "Sign Up"%>
<% end %>